<?xml version="1.0" encoding= "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ben.shiro.mapper.DataItemMapper">

    <select id="list" resultType="com.ben.shiro.pojo.bo.DataItem">
        select *
        from b_data_item_info
        where delete_flag = 0
    </select>

    <select id="page" resultType="com.ben.shiro.pojo.bo.DataItem">
        select *
        from b_data_item_info
        where delete_flag = 0
        order by id
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into b_data_item_info(class_code, class_name, code, name, param, flag,
                                     create_id, create_time, update_id, update_time)
        values ( #{classCode,jdbcType=VARCHAR}, #{className,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}
               , #{name,jdbcType=VARCHAR}, #{param,jdbcType=VARCHAR}, #{classCode,jdbcType=VARCHAR}
               , #{createId,jdbcType=INTEGER}, #{createTime,jdbcType=VARCHAR}
               , #{updateId,jdbcType=INTEGER}, #{updateTime,jdbcType=VARCHAR})
    </insert>

    <select id="query" resultType="com.ben.shiro.pojo.bo.DataItem">
        select *
        from b_data_item_info
        where id = #{id}
    </select>

    <update id="update">
        update b_data_item_info
        set class_code = #{classCode},
            class_name = #{className},
            code=#{code},
            name=#{name}
        where id = #{id}
    </update>

    <delete id="delete">
        update b_data_item_info
        set delete_flag=1
        where id = #{id}
    </delete>
</mapper>