<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>webApp</display-name>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:xmlConfig/applicationConfig.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>


    <servlet>
        <servlet-name>SpringMVC</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:xmlConfig/webConfig.xml</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>SpringMVC</servlet-name>
        <!--<url-pattern>/*.html</url-pattern>-->
        <url-pattern>/web/*</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>sitemesh</filter-name>
        <filter-class>org.sitemesh.config.ConfigurableSiteMeshFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>sitemesh</filter-name>
        <url-pattern>/web/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>RestServlet</servlet-name>
    </servlet>
    <servlet-mapping>
        <servlet-name>RestServlet</servlet-name>
        <!--<url-pattern>/*.json</url-pattern>-->
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

</web-app>
