<?xml version="1.0" encoding= "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ben.simpleshiro.logic.mapper.RoleMapper">

    <select id="list" resultType="com.ben.simpleshiro.logic.bo.Role">
        select *
        from s_sys_role
        where delete_flag = 0
    </select>

    <select id="page" resultType="com.ben.simpleshiro.logic.bo.Role">
        select *
        from s_sys_role
        where delete_flag = 0
        order by id
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into s_sys_role(org_id, role_name, role_code, role_type, data_scope, status, create_id, create_time,
                               update_id, update_time)
        VALUES ( #{orgId,jdbcType=INTEGER}, #{roleName,jdbcType=VARCHAR}, #{roleCode,jdbcType=VARCHAR}
               , #{roleType,jdbcType=INTEGER}, #{dataScope,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}
               , #{createId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
               , #{updateId,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP})
    </insert>

    <select id="query" resultType="com.ben.simpleshiro.logic.bo.Role">
        select *
        from s_sys_role
        where id = #{id}
    </select>

    <update id="update">
        update s_sys_role
        set role_name  = #{roleName},
            role_code  = #{roleCode},
            role_type  = #{roleType},
            data_scope = #{dataScope}
        where id = #{id}
    </update>

    <delete id="delete">
        update s_sys_role
        set delete_flag=1
        where id = #{id}
    </delete>
</mapper>